{% extends 'universitytransfer/base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome Home To Dynamic Main {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
  <!-- <div style="height:200px;width:800px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
    </div> -->
    
  <p>Insert Graphviz Syntax</p>
  <p>
    <textarea id="graphVizInput" style="height:100px;width:400px;font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;overflow:scroll;" name="note">
      digraph G { from_nhit [label="GoogleURLz2" URL="http://www.google.com" color=lightgreen fillcolor=lightyellow style=filled];a -> b; }
      </textarea>
      <button onclick="updateGraphViz();">Update Graph</button>
    </p>
  <p>PNG Data</p>
  <p id="demo2"></p>
  <p>SVG Data</p>
  <p id="demo3"></p>
  <script>

    
    window.onload = function() {
            
    var worker = new Worker("{% static 'universitytransfer/js/worker.js' %}");
    var result;

    var svg = new Viz();

    var result = svg.renderImageElement("digraph G { from_nhit [label=\"GoogleURLz\" URL=\"google.com\" color=lightgreen fillcolor=lightyellow style=filled];a -> b; }").then(function (str) {
      var str2 = str;
      //updateOutput(str);
      document.getElementById("demo2").appendChild(str2);
    });
    
    var result = svg.renderSVGElement("digraph G { from_nhit [label=\"GoogleURLz2\" URL=\"http://www.google.com\" color=lightgreen fillcolor=lightyellow style=filled];a -> b; }").then(function (str) {
      var str2 = str;
      //updateOutput(str);
      document.getElementById("demo3").appendChild(str2);
    });

     //var result2 = result;
     

     //result = new Viz("digraph { x -> y -> z; }", { format: "plain" },worker);
     //result = new Viz("digraph g { a -> b; }", { format: "plain" }, worker);
     //result.wrapper.result =
    // var graphviz_text = "digraph g { a -> b; }";
     //result = new Viz(graphviz_text, "svg");

      //var jsonObj = result.renderJSONObject("digraph g { a -> b; }")
      //var text = document.createElement("div");
      //  text.id = "text";
      //  text.appendChild(document.createTextNode(JSON.stringify(result)));
        //graph.appendChild(text);
      //  document.getElementById("demo").innerHTML = "JSON:" + JSON.stringify(jsonObj);
      //  document.getElementById("demo2").innerHTML = JSON.stringify(result);
        
     //result="<p>" + "result" + "</p>"
     //document.getElementById("demo").innerHTML = result.toString();
      //document.getElementById("demo").innerHTML = result; 
    }
  
    function updateGraphViz() {
      var svg = new Viz();
      var graphData;
      // graphData = document.getElementById("graphVizInput").innerHTML;
      graphData = document.getElementById("graphVizInput").value;
      
      clearChildren(document.getElementById("demo2"));
      var result = svg.renderImageElement(graphData).then(function (str) {
        var str2 = str;
        //updateOutput(str);
        document.getElementById("demo2").appendChild(str2);
      });
      
      clearChildren(document.getElementById("demo3"));
      var result = svg.renderSVGElement(graphData).then(function (str) {
        var str2 = str;
        //updateOutput(str);
        document.getElementById("demo3").appendChild(str2);
      });
    }

    function clearChildren(element){
      while (element.firstChild) {
        element.removeChild(element.firstChild);
      }
    }
  </script>


  
  {% include 'partials/nav-bar.html' %} <!--Add this-->

  {% endblock %}
</body>
</html>
