{% extends 'universitytransfer/base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome Home MCC {% endblock %}</title>
</head>
<body>
    {% block javascript %}
    <script>
        $('#departmentDp').change(function () {
          var departmentId = $(this).val();
          
          var school_id = "{{ schoolId }}";
          $.ajax({
            url: '/ajax/getcourse/',
            data: {
              'school_id': school_id,
              'department_id': departmentId,
            },
            dataType: 'json',
            success: function (data) {
                var courses = JSON.parse(data.course_map)
                //alert(data.course_map)
                courses = JSON.parse(courses)
                //alert(courses)
                loadTable("data-table",courses);
            }
          });
    
        });

        function loadTable(tableId, data) {
          //$('#' + tableId).empty(); //not really necessary
          //alert("inside loadTable");
          //alert(typeof data)
          //alert(data)
          var rows = '';
          
          rows+= '<tr><th>Course</th><th>UNH Equivalent</th></tr>';

          $.each(data, function(index, item) {
              //alert(item['course'])
              var row = '<tr>';
              row += '<td>' + item['course'] + '</td>';
              row += '<td>' + item['unh_map'] + '</td>';
              //alert(item['course']+ ":"+ item['unh_map']);
              rows += row + '<tr>';
          });
          $('#' + tableId).html(rows);
      }
      </script>
    {% endblock %}

  {% block pagecontent %}
  
  <img alt="smiley" style="" src="{% static 'universitytransfer/images/mcc_detailed.png' %}" usemap="#G" alt="graphviz graph" />
  <map id="G" name="G">
      <area shape="poly" id="node1" href="https://www.mccnh.edu/" title="Manchester Community College" alt="" coords="490,29,482,22,457,15,420,10,372,7,320,5,267,7,220,10,183,15,158,22,150,29,158,37,183,43,220,49,267,52,320,53,372,52,420,49,457,43,482,37"/>
      <area shape="poly" id="node3" href="https://manchester.unh.edu/sites/default/files/media/mcc_cis_pathways.pdf" title=" Computer Information Systems" alt="" coords="491,125,482,118,458,111,420,106,373,103,320,101,267,103,220,106,182,111,158,118,149,125,158,133,182,139,220,145,267,148,320,149,373,148,420,145,458,139,482,133"/>
      <area shape="poly" id="node2" href="https://manchester.unh.edu/academics/degree-programs/information-technology?utm_source=google&amp;utm_medium=txtad&amp;utm_campaign=msit" title="UNH IT Programs" alt="" coords="425,221,420,214,405,207,382,202,352,199,320,197,288,199,258,202,235,207,220,214,215,221,220,229,235,235,258,241,288,244,320,245,352,244,382,241,405,235,420,229"/>
      <area shape="poly" id="node4" href="https://manchester.unh.edu/" title="UNH Transfer Application Form" alt="" coords="352,317,343,310,319,303,281,298,232,295,179,293,125,295,77,298,38,303,14,310,5,317,14,325,38,331,77,337,125,340,179,341,232,340,281,337,319,331,343,325"/>
      <area shape="poly" id="node5" href="https://manchester.unh.edu/costs" title="Tuition Details" alt="" coords="546,317,542,310,530,303,511,298,488,295,461,293,435,295,411,298,393,303,381,310,376,317,381,325,393,331,411,337,435,340,461,341,488,340,511,337,530,331,542,325"/>
      </map>

<p>
  Select major:
  <form>
    
  <select id="departmentDp">    
      {% for department in departmentList %}
          <option value="{{ department.id}}">{{ department.name }}</option>
      {% endfor %}
    </select>
  </form>

</p>
<p>
  <table id="data-table" border="1">
    
  </table>
</p>

  <p>" This page will redirect you to MCC."
  </p>

  
  
  {% include 'partials/nav-bar.html' %} <!--Add this-->

  {% endblock %}

</body>


</html>
